<footer>
  <ul>
    <li>Created by <a href="http://brianbrewer.co.uk">Brian Brewer</a></li>
    <li>Created using <a href="http://metalsmith.io">Metalsmith</a></li>
    <li>Copyright 2016</li>
    <li><a href="{{rootPath}}sitemap.xml">Sitemap</a></li>
  </ul>
</footer>
