<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{title}}{{tag}} | {{#if pagination.num}}{{pagination.num}} | {{/if}}Brian Brewer</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400,700/Roboto+Mono:400">
<link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{rootPath}}assets/css/default.css" media="screen">
